App.css .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #0b1f0a;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .box {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .box {
    width: 60px;
    height: 60px;
  }
}
